*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
}
.conatiner, .flexhead{
    width: 800px;
    margin: 0 auto;
}
.flexhead{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header{
    width: 100%;
    min-height: 150px;
    background-color: #5CDB95;
    color:#05386B;
}
.logo{
   
}
.logo img{
    width: 70px;
    padding-top: 17px;
}