* {
  margin: 0;
}
body {
  margin: 0;
}
.container {
  width: 90%;
  margin: 0 auto;
}
.flexhead {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header {
  width: 100%;
  min-height: 100px;
  background-color: #5cdb95;
  color: #05386b;
}
.logo {
}
.logo img {
  width: 70px;
  padding-top: 17px;
}

/*---------------------------MENU START-----------------------*/
.menu a {
  padding: 0 10px 0 10px;

  text-transform: uppercase;
  color: #05386b;
  text-decoration: none;
}
.menu :hover {
  color: #05386b;
  font-weight: bold;
  background-size: 100% 100%;
}
/*-------------------MENU END----------------------------------*/

/*-------------------CONTENT--------------*/
/*-------------------CONTENT--------------*/
#content {
  width: 100%;
  height: 498px;
  background-color: #5cdb95;
  display: flex;
}
#content2 {
  width: 100%;
  height: 10%;
  background-color: #5cdb95;
}
.posts {
  min-width: 300px;
  min-height: 300px;
  width: 96.5%;
  height: 90%;
  margin-left: 1%;
  padding: 10px;
  background-color: #409968;
}
#postoForm {
  max-width: 100%;
  max-height: 20%;
  width: 100%;
  height: 20%;
  text-align: left;
  background-color: #5cdb95;
  margin-left: 15px;
}
#postoForm input {
  width: 83.5%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#postoForm button {
  width: 7%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
#footer {
  width: 100%;
  background-color: #5cdb95;
  height: 80px;
  text-align: center;
  padding-top: 50px;
  color: #05386b;
}
#footer {
  width: 100%;
  background-color: #5cdb95;
  height: 80px;
  text-align: center;
  padding-top: 50px;
  color: #05386b;
}
#contentAbout {
  height: 562px;
  margin: 0;
  background: #5cdb95;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;
  overflow: hidden;
  background-attachment: fixed;
}

#about-us {
  position: relative;
  float: left;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  align-items: center;
}
#about-us h1 {
  font-size: 22pt;
  font-family: "Josefin Sans", sans-serif;
  padding-top: 9%;
}

.description {
  text-align: center;
  font-size: 16px;
  line-height: 30px;
  color: #05386b;
  width: 100%;
  max-width: 750px;
  font-family: "Josefin Sans", sans-serif;
}
.justify-content {
  display: flex;
  justify-content: center;
}
.align-items {
  display: flex;
  align-items: center;
}
* {
  margin: 0px;
  padding: 0px;
}
body {
  font-size: 120%;
  background: #F8F8FF;
}

.header {
  width: 30%;
  margin: 50px auto 0px;
  color: white;
  background: #5F9EA0;
  text-align: center;
  border: 1px solid #B0C4DE;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
}
form, .content {
  width: 30%;
  margin: 0px auto;
  padding: 20px;
  border: 1px solid #B0C4DE;
  background: white;
  border-radius: 0px 0px 10px 10px;
}
.input-group {
  margin: 10px 0px 10px 0px;
}
.input-group label {
  display: block;
  text-align: left;
  margin: 3px;
}
.input-group input {
  height: 30px;
  width: 93%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
}
.btn {
  padding: 10px;
  font-size: 15px;
  color: white;
  background: #5F9EA0;
  border: none;
  border-radius: 5px;
}
.error {
  width: 92%; 
  margin: 0px auto; 
  padding: 10px; 
  border: 1px solid #a94442; 
  color: #a94442; 
  background: #f2dede; 
  border-radius: 5px; 
  text-align: left;
}
.success {
  color: #3c763d; 
  background: #dff0d8; 
  border: 1px solid #3c763d;
  margin-bottom: 20px;
}

@media screen and (max-width: 650px) {
  .col {
    width: 100%;
    margin-top: 0;
  }
  
  .vl {
    display: none;
  }
  
  .hide-md-lg {
    display: block;
    text-align: center;
  }
}

